:root {
  --main-color: #212121;
  --title-color: #757575;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --bgr-color: #2f303a;
  --potrf-botton-bgr: #f5f4fa;
}

/* header */
body {
  font-family: 'Roboto', sans-serif;
  color: var(--main-color);
}
header {
  display: flex;

  font-weight: 500;
  font-size: 14px;
}
.header-nav {
  display: flex;
}
.header-logo {
  font-family: 'Raleway', sans-serif;
  color: var(--main-color);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  text-decoration: underline;
  text-decoration: none;
}
.logo-accent {
  color: var(--accent-color);
}

.header-nav > a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
.header-list > li {
  display: inline-block;
  list-style-type: none;
}
.header-list > li > a {
  /* text-decoration: none; */
  color: var(--main-color);
}
.header-list > li > a:hover .header-list > li > a:focus {
  color: var(--accent-color);
}

.header-cont {
  list-style-type: none;
}
.header-cont > li {
  display: inline-block;
}
.header-mail {
  color: var(--title-color);
  text-decoration: none;
}
.header-mail:hover,
.header-mail:focus {
  color: var(--accent-color);
  cursor: pointer;
}
.header-tel {
  color: var(--title-color);
  text-decoration: none;
}
.header-tel:hover,
.header-tel:focus {
  color: var(--accent-color);
}

/* header */
/* list */
.title-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.list-item > li {
  list-style-type: none;
  display: inline-block;
}

.list-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  background-color: var(--potrf-botton-bgr);
  color: var(--main-color);
  border: 0;
  border-radius: 4px;
  padding: 10px 20px;
}
.list-button:hover,
.list-button:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
  cursor: pointer;
}
h2 {
  font-size: 18px;
}

/* footer */
.footer {
  background-color: var(--bgr-color);
}
.footer-contacts {
}
.logo-accent2 {
  color: var(--white-color);
}
.footer-lists > li {
  list-style-type: none;
}
.footer-lists > li > a {
  text-decoration: none;
}
.footer-addres {
  font-weight: 400;
  font-size: 14px;
  color: var(--white-color);
}
.footer-link {
  color: var(--title-color);
  font-weight: 400;
  font-size: 14px;
}
.footer-tel {
  color: var(--title-color);
  font-weight: 400;
  font-size: 14px;
}
.footer-addres:hover,
.footer-addres:focus {
  color: var(--accent-color);
}
.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}
.footer-tel:hover,
.footer-tel:focus {
  color: var(--accent-color);
}
/* footer */
