/* main color #212121 */
/* title color #757575 */
/* accent color #2196F3 */
:root {
  --main-color: #212121;
  --title-color: #757575;
  --accent-color: #2196f3;
}

/* header */
body {
  font-family: 'Roboto', sans-serif;
  color: var(--main-color);
  letter-spacing: 3%;
}
header {
  display: flex;

  font-weight: 500;
  font-size: 14px;
}
.header-nav {
  align-items: baseline;
  display: flex;
}
.header-logo {
  font-family: 'Raleway', sans-serif;
  color: var(--main-color);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: underline;
}
.logo-accent {
  color: var(--accent-color);
}

.header-nav > a {
  text-decoration: none;
}

.header-list > li {
  display: inline-block;
}
.header-list > li > a {
  text-decoration: none;
  color: var(--main-color);
  font-style: Medium;
  font-weight: 500;
  font-size: 14px;
  line-height: 0, 7;
}
.header-list > li > a:hover,
.header-list > li > a:focus {
  color: var(--accent-color);
}

.header-cont {
  list-style-type: none;
}
.header-cont > li {
  display: inline-block;
}
.header-mail {
  color: var(--title-color);
  text-decoration: none;
}
.header-mail:hover,
.header-mail:focus {
  color: var(--accent-color);
  cursor: pointer;
}
.header-tel {
  color: var(--title-color);
  text-decoration: none;
}
.header-tel:hover,
.header-tel:focus {
  color: var(--accent-color);
}

/* header */
/* main */
.sec-first {
  background-color: #2f303a;
  height: 600px;
}

.sec-header {
  color: #ffffff;
  font-size: 44px;
  text-align: center;
  text-transform: uppercase;
}
.sec-button {
  background-color: var(--accent-color);
  color: #ffffff;
  font-size: 16px;
  font-weight: 700px;
  border: none;
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  border-radius: 3px;
  margin-bottom: 50px;
  cursor: pointer;
}
.sec-button:hover,
.sec-button:focus {
  background-color: #188ce8;
  color: #ffffff;
}
/* benefits */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.benefits-lists > li {
  list-style-type: none;
}
.benefits-title {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
}
.benefits-par {
  font-style: regular;
  font-weight: 400;
  font-size: 14px;
  line-height: 1, 71;
}
p {
  color: var(--title-color);
}
/* benefits */

/* about */
.about-header {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
}
.about-lists {
  display: flex;
  margin-left: 80px;
}
.about-lists > li {
  list-style-type: none;
  padding: 10px;
}
/* about */

/* team */
.team-header {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
}
.team-lists > li {
  list-style-type: none;
}
.team-name {
  font-weight: 500;
  font-size: 16px;
}
.team-job {
  font-weight: 400;
  font-size: 16px;
}
/* team */

/* footer */
footer {
  font-style: normal;
}
.footer {
  background-color: #2f303a;
}
.footer-contacts {
}
.logo-accent2 {
  color: #ffffff;
}
.footer-lists > li {
  list-style-type: none;
}
.footer-lists > li > a {
  text-decoration: none;
}
.footer-addres {
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
}
.footer-link {
  color: var(--title-color);
  font-weight: 400;
  font-size: 14px;
}
.footer-tel {
  color: var(--title-color);
  font-weight: 400;
  font-size: 14px;
}
/* footer */
.footer-addres:hover,
.footer-addres:focus {
  color: var(--accent-color);
}
.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}
.footer-tel:hover,
.footer-tel:hover {
  color: var(--accent-color);
}
